.nav-buttons {
  color: white;
}

h1 {
  padding-top: 10px;
}

.page {
  padding-bottom: 20px;
  padding-top: 20px;
}

.bg-tertiary {
  background-color: #C3DDE0;
}

.page-footer {
  margin-top: 3em;
}

.top_navbar {
  background-color: #000045;
}

#jumbo {
  background-color: #EB5E55;
}

#body {
  background-color: #FFF4E9;
}

#footer {
  background-color: #FFF4E9;
}

.footer_text {
  color: black;
}
